In [21]:
import sqlite3

conn = sqlite3.connect('restuarant.db')
print("Opened database successfully");

Opened database successfully

In [22]:
'''Create the table'''
conn.execute('''CREATE TABLE RESTAURANTMASTER
         (ID               INT     NOT NULL,
         RESERVEDONTHENAME TEXT    NOT NULL,
         RESTUARANTNAME    TEXT    NOT NULL,
         CUISINETYPE       TEXT    NOT NULL,
         COSTTYPE          TEXT    NOT NULL,
         LOCATION          TEXT    NOT NULL,
         NOOFPEOPLE        TEXT    NOT NULL);''')
print("Restaurant Table created successfully");
conn.close()

Restaurant Table created successfully

In [24]:
conn = sqlite3.connect('restuarant.db')

conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'JP','SWAGATH','CHINESE','CHEAP','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'JP','SWAGATH','CHINESE','MEDIUM','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'JP','SWAD','CHINESE','EXPENSIVE','EAST', '5')");

conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'PRADEEP','SHAH GOUSE','NORTH INDIAN','CHEAP','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'PRADEEP','PARADISE','NORTH INDIAN','MEDIUM','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'PRADEEP','PARADISE','NORTH INDIAN','EXPENSIVE','EAST', '5')");

conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'PRADEEP','PARADISE','SOUTH INDIAN','CHEAP','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'PRADEEP','PARADISE','SOUTH INDIAN','MEDIUM','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'PRADEEP','SWAD','SOUTH INDIAN','EXPENSIVE','EAST', '5')");

conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'HARI','SHAH GOUSE','ITALIAN','CHEAP','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'HARI','SHAH GOUSE','ITALIAN','MEDIUM','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'HARI','PARADISE','ITALIAN','EXPENSIVE','EAST', '5')");

conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'MURALI','PARADISE','SPANISH','CHEAP','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'MURALI','PARADISE','SPANISH','MEDIUM','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'MURALI','PARADISE','SPANISH','EXPENSIVE','EAST', '5')");

conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'HARI','PARADISE','CONTINENTAL','CHEAP','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'HARI','SWAD','CONTINENTAL','MEDIUM','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'HARI','PARADISE','CONTINENTAL','EXPENSIVE','EAST', '5')");

conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'JP','SWAD','MULTI CUISINE','CHEAP','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'JP','PARADISE','MULTI CUISINE','MEDIUM','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'JP','PARADISE','MULTI CUISINE','EXPENSIVE','EAST', '5')");

conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'JP','OHRIS','MEXICAN','CHEAP','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'JP','PARADISE','MEXICAN','MEDIUM','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'JP','PARADISE','MEXICAN','EXPENSIVE','EAST', '5')");

conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'SUDANSHU','SWAD','MEDITERRANEAN','CHEAP','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'SUDANSHU','SWAD','MEDITERRANEAN','MEDIUM','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'SUDANSHU','SWAD','MEDITERRANEAN','EXPENSIVE','EAST', '5')");

conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'KALYAN','PARADISE1','PUNJABI','CHEAP','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'KALYAN','PARADISE','PUNJABI','MEDIUM','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'KALYAN','SWAD','PUNJABI','EXPENSIVE','EAST', '5')");

conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'KALYAN','PARADISE','HYDERABADI','CHEAP','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'KALYAN','PARADISE','HYDERABADI','MEDIUM','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'KALYAN','SWAD','HYDERABADI','EXPENSIVE','EAST', '5')");

conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'KALYAN','PARADISE','RAJASTHANI','CHEAP','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'KALYAN','PARADISE','RAJASTHANI','MEDIUM','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'KALYAN','SWAD','RAJASTHANI','EXPENSIVE','EAST', '5')");

conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'KALYAN','PARADISE','INDIAN FAST FOODS','CHEAP','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'KALYAN','PARADISE','INDIAN FAST FOODS','MEDIUM','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'KALYAN','PARADISE','INDIAN FAST FOODS','EXPENSIVE','EAST', '5')");

conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
     VALUES  (1, 'KALYAN','SIMPYSOUTH','CUISINE OF KARNATAKA','CHEAP','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
     VALUES  (1, 'KALYAN','SIMPYSOUTH','TELANGANA CUISINE','CHEAP','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
     VALUES  (1, 'KALYAN','SIMPYSOUTH','HYDERABADI CUISINE','CHEAP','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
     VALUES  (1, 'KALYAN','SIMPYSOUTH','EAST INDIAN CUISINES','CHEAP','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
     VALUES  (1, 'KALYAN','SUBWAY','AWADHI CUISINE','EXPENSIVE','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
     VALUES  (1, 'KALYAN','PARADISE','PUNJABI CUISINE','EXPENSIVE','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
     VALUES  (1, 'KALYAN','PARADISE','CUISINE OF UTTAR PRADESH','EXPENSIVE','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
     VALUES  (1, 'KALYAN','SUBWAY','RAJASTHANI CUISINE','EXPENSIVE','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
     VALUES  (1, 'KALYAN','PARADISE','MUGHLAI CUISINE','EXPENSIVE','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
     VALUES  (1, 'KALYAN','PARADISE','BHOJPURI CUISINE','EXPENSIVE','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
     VALUES  (1, 'KALYAN','PARADISE','BIHARI CUISINE','EXPENSIVE','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
     VALUES  (1, 'KALYAN','SUBWAY','KASHMIRI CUISINE','EXPENSIVE','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
     VALUES  (1, 'KALYAN','PARADISE','SOUTH INDIAN CUISINES','EXPENSIVE','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
     VALUES  (1, 'KALYAN','PARADISE','KERALA CUISINE','EXPENSIVE','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
     VALUES  (1, 'KALYAN','SUBWAY','TAMIL CUISINE','EXPENSIVE','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
     VALUES  (1, 'KALYAN','PARADISE','ANDHRA CUISINE','EXPENSIVE','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
     VALUES  (1, 'KALYAN','PARADISE','CUISINE OF KARNATAKA','EXPENSIVE','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
     VALUES  (1, 'KALYAN','SUBWAY','TELANGANA CUISINE','EXPENSIVE','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
     VALUES  (1, 'KALYAN','PARADISE','HYDERABADI CUISINE','EXPENSIVE','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
     VALUES  (1, 'KALYAN','PARADISE','EAST INDIAN CUISINES','EXPENSIVE','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
     VALUES  (1, 'KALYAN','SUBWAY','ORIYA CUISINE','EXPENSIVE','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
     VALUES  (1, 'KALYAN','PARADISE','NORTH EAST INDIAN CUISINES','EXPENSIVE','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
     VALUES  (1, 'KALYAN','PARADISE','SIKKIMESE CUISINE','EXPENSIVE','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
     VALUES  (1, 'KALYAN','PARADISE','ASSAMESE CUISINE','EXPENSIVE','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
     VALUES  (1, 'KALYAN','SUBWAY','TRADITIONAL NORTH INDIAN THALI','EXPENSIVE','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
     VALUES  (1, 'KALYAN','PARADISE','NORTH INDIAN THALI','EXPENSIVE','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
     VALUES  (1, 'KALYAN','PARADISE','TRIPURI CUISINE','EXPENSIVE','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
     VALUES  (1, 'KALYAN','SUBWAY','NAGA CUISINE','EXPENSIVE','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
     VALUES  (1, 'KALYAN','PARADISE','WEST INDIAN CUISINES','EXPENSIVE','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
     VALUES  (1, 'KALYAN','PARADISE','GOAN CUISINE','EXPENSIVE','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
     VALUES  (1, 'KALYAN','SUBWAY','GUJARATI CUISINE','EXPENSIVE','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
     VALUES  (1, 'KALYAN','PARADISE','MAHARASHTRIAN CUISINE','EXPENSIVE','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
     VALUES  (1, 'KALYAN','PARADISE','MALVANI CUISINE','EXPENSIVE','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
     VALUES  (1, 'KALYAN','PARADISE','PARSI CUISINE','EXPENSIVE','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
     VALUES  (1, 'KALYAN','PARADISE','RAJASTHANI CUISINE','EXPENSIVE','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
     VALUES  (1, 'KALYAN','PARADISE','INDIAN CHINESE CUISINE','EXPENSIVE','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
     VALUES  (1, 'KALYAN','SUBWAY','JAIN (SATVIKA) CUISINE','EXPENSIVE','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
     VALUES  (1, 'KALYAN','PARADISE','SOUTH INDIAN VEGETARIAN THALI','EXPENSIVE','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
     VALUES  (1, 'KALYAN','PARADISE','SINDHI CUISINE','EXPENSIVE','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
     VALUES  (1, 'KALYAN','PARADISE','CHETTINAD CUISINE','EXPENSIVE','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
     VALUES  (1, 'KALYAN','SUBWAY','UDUPI CUISINE','EXPENSIVE','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
     VALUES  (1, 'KALYAN','PARADISE','INDIAN FAST FOOD','EXPENSIVE','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
     VALUES  (1, 'KALYAN','PARADISE','INDIAN','CHEAP','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
     VALUES  (1, 'KALYAN','PARADISE','INDIAN','MEDIUM','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
     VALUES  (1, 'KALYAN','SUBWAY','INDIAN','EXPENSIVE','EAST', '5')");


conn.commit()
print("Restaurant Records inserted successfully");
conn.close()

Restaurant Records inserted successfully